[Unit]
Description=Clash service
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/proxy/clash -d /home/ubuntu/proxy
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target